.responsiveCard {
  width: 100%;
  height: 100%;
  max-width: rem(400px);
  padding: rem(28px);

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(300px);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    height: rem(500px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    width: rem(350px);
    height: rem(600px);
    padding: rem(36px);
  }
}
