.accordionItem {
  margin-left: 4px;
  margin-right: 4px;
  outline: 3px solid var(--mantine-color-primaryColor-5);
  border-radius: rem(10);
  background: white;
  border: none;
}

.accordionLabel {
  font-weight: 700;
  font-size: rem(16);
  transition: color 0.2s ease-out;
}

.accordionLabelActive {
  color: var(--mantine-color-primaryColor-5);
}
