.responsiveContainer {
  max-width: rem(768px);

  @media (min-width: $mantine-breakpoint-md) {
    max-width: rem(1092px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    max-width: rem(1280px);
  }
}

.dimmedText {
  color: #5e5951;
}
