.responsiveNav {
  height: rem(50px);
  width: 100%;
  padding: rem(8px) rem(18px);

  @media (min-width: $mantine-breakpoint-xl) {
    width: rem(50px);
    height: 100%;
    padding: rem(18px) rem(8px);
  }
}
