.card {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  width: 100%;
  height: rem(320px);

  @media (min-width: $mantine-breakpoint-sm) {
    width: rem(250px);
    height: rem(260px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    width: rem(300px);
    height: rem(320px);
  }
}

.card:hover .backImage {
  transform: scale(1.05) rotate(-32deg);
}

.card:hover .foreImage {
  transform: scale(1.05) rotate(-24deg);
}

.card:hover .sectionBlur {
  color: var(--mantine-color-primaryColor-1);
}

.cardShadow {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.backImage {
  z-index: 1;
  transform: rotate(-32deg);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  top: rem(40px);
  left: rem(-65px);

  @media (min-width: $mantine-breakpoint-sm) {
    width: rem(270px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    width: rem(300px);
  }
}

.foreImage {
  z-index: 2;
  transform: rotate(-24deg);
  transition: transform 0.3s ease-in-out;
  width: 100%;

  top: rem(110px);
  left: rem(-55px);

  @media (min-width: $mantine-breakpoint-sm) {
    width: rem(320px);
    max-height: rem(190px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    width: rem(350px);
    top: rem(130px);
    left: rem(-35px);
  }
}

.sectionBlur {
  z-index: 3;
  backdrop-filter: blur(16px);
  background: rgba(255, 237, 237, 0.3);
  color: var(--mantine-color-white);
}
