.noScrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.noScrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.appShell {
  height: 100%;
}

.navbarPosition {
  position: fixed;
  z-index: 5;
  top: rem(20px);
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $mantine-breakpoint-xl) {
    top: 50%;
    left: rem(40px);
    transform: translateY(-50%);
  }
}

.responsiveProfile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $mantine-breakpoint-md) {
    width: auto;
    position: sticky;
    top: rem(40px);
  }
}

.outletBox {
  padding: 0;

  @media (min-width: $mantine-breakpoint-md) {
    padding: 0 0 rem(50px) 0;
  }
}
